Stats {
    border: round #F7C600;
    padding: 1;
    margin-right: 1;
}

SystemInfo {
    border: round #F7C600;
    padding: 1;
}

Services {
    border: round #F7C600;
    padding: 1;
    margin-top: 1;
    width: 91;
}

Horizontal {
    height: auto;
}

#footer {
    border: round #F7C600;
    padding: 0 1;
    height: 3;
}
#homepage-footer {
    height: auto;
}
#services-container {
    border: none;
    padding: 1;
    height: 21;
}
.service-column {
    width: 44;
}
